%footer
  %span.decorative-line
  .info
    %span *
    %p Hi and thank you!
    %p 
      Disclaimer: This site was created by your neighbor. It was not created and is not endorsed by the City of Santa Monica. It’s a simple website used to give basic information about our treet parking situation. 
    %p
      For more informtion please see the City of Santa Monica’s 
      %a{:href => "http://www.smgov.net/Departments/Transportation/parking-content.aspx?id=15936"} website
      or feel free to call them at 310.458.8295