%header
  .content
    .clearfix
      =image_tag("logo.png")
      %h1 7th Street Parking

    %nav
      %ul
        %li
          %a{:href => "#"} Information
        %li
          %a{:href => "#"} Benefits
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => "#"} Contact