%header
  .content
    .clearfix
      =image_tag("logo.png")
      %h1 7th Street Parking

    %nav
      %ul
        %li
          %a{:href => "#information"} Information
        %li
          %a{:href => "#benefits"} Benefits
        %li
          %a{:href => "#faqs"} FAQs
        %li
          %a{:href => "#contact"} Contact