$light-blue: #00c9ff
$gold: #ffe424
$nav-text: #2e2903
$placeholder: #888



@mixin content
  max-width: 950px
  margin: 0 auto
  padding: 0 10px

@mixin zero
  margin: 0
  padding: 0  
@mixin blue-shadow
  text-shadow: 5px 5px 5px #0096be
@mixin text-shadow
  text-shadow: 5px 4px 10px #CCC
@mixin fancy-font
  font-family: 'Give You Glory', cursive

//Global Rules
body
  color: #222
ul
  @include zero
li
  list-style-position: inside
  font-style: italic
hr 
  margin: 55px 0
  &:last-child
    display: none
h2
  font-size: 30px
  margin-top: 0
h3
  display: inline-block
dd
  margin: 0 0 40px 0
  &:last-child
    margin-bottom: 0
p
  line-height: 1.6em
//Placeholder Text
::-webkit-input-Placeholder
  color: $placeholder
::-moz-placeholder
  color: $placeholder
::-moz-placeholder
  color: $placeholder
::-ms-input-placeholder
  color: $placeholder

//Header
header
  position: fixed
  top: 0
  width: 100%
  .content
    background-color: $light-blue
    padding-top: 10px
    > .clearfix
      @include content
      img
        float: left
        padding-left: 30px
      h1
        float: right
        color: white
        font-size: 55px
        margin: 25px 0
        @include blue-shadow
    nav
      background-color: $gold
      ul
        @include content
        text-align: right
      li
        font-style: normal
        color: black
        display: inline-block
        margin: 3px 15px
        &:last-child
          margin-right: 0
        a
          color: $nav-text
          font-size: 14px
          font-weight: bold
          text-decoration: none
          &:hover
            text-decoration: underline

//Main Content - Global
.main
  @include content
  margin-top: 260px
  img
    box-shadow: 5px 5px 10px #999
  .information
    width: 490px
    margin-right: 20px
  .supplement
    width: 410px
    text-align: center
  .left
    .information
      float: left
      padding-left: 20px
    .supplement
      float: right
  .right
    .information
      float: right
    .supplement
      float: left

//Benefits
#benefits
  th
    text-align: left
  td
    padding-left: 28px
    background: transparent url('/img/sprite.png') no-repeat scroll 0 0
  td:nth-child(odd)
    background-position: 0 2px
    padding-right: 10px
  td:nth-child(even)
    background-position: 0 -22px

//FAQs
#faqs
  strong
    font-size: 20px
  .supplement span
    color: #222
  .information span
    text-decoration: underline
  .percent
    font-size: 200px
    @include fancy-font
    @include text-shadow
    display: block
    margin-top: 80px

//Contact
#contact
  margin: 0 0 50px 0
  .information
    margin-right: 0
  input[type=text], input[type=email], textarea
    font-size: 20px
    padding: 10px
    background-color: #d5f6ff
    border: 0
    border-bottom: 5px solid #ffe424
    margin: 0 0 30px 0
    box-shadow: 2px 4px 6px #BBB
    color: #222
    width: 375px
  button
    width: 15em
    padding: .5em
    color: #ffffff
    border: solid thin rgb(226, 226, 226)
    -webkit-border-radius: .7em
    -moz-border-radius: .7em
    border-radius: .7em
    background: #dadada /* Old browsers */
    background: -moz-linear-gradient(top,  #93DCFF 0%, #74a6cf 50%, #20a1ca 51%, #7db9e8 100%) /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93DCFF), color-stop(50%,#74a6cf), color-stop(51%,#20a1ca), color-stop(100%,#7db9e8)) /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #93DCFF 0%,#74a6cf 50%,#20a1ca 51%,#7db9e8 100%) /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #93DCFF 0%,#74a6cf 50%,#20a1ca 51%,#7db9e8 100%) /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #93DCFF 0%,#74a6cf 50%,#20a1ca 51%,#7db9e8 100%) /* IE10+ */
    background: linear-gradient(to bottom,  #93DCFF 0%,#74a6cf 50%,#20a1ca 51%,#7db9e8 100%) /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93DCFF', endColorstr='#7db9e8',GradientType=0 ) /* IE6-9 */
    &:hover
      background: #dadada /* Old browsers */
      background: -moz-linear-gradient(top,  #93FFA9 0%, #4fcc62 50%, #20c95b 51%, #7ae284 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93FFA9), color-stop(50%,#4fcc62), color-stop(51%,#20c95b), color-stop(100%,#7ae284)) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #93FFA9 0%,#4fcc62 50%,#20c95b 51%,#7ae284 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #93FFA9 0%,#4fcc62 50%,#20c95b 51%,#7ae284 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #93FFA9 0%,#4fcc62 50%,#20c95b 51%,#7ae284 100%) /* IE10+ */
      background: linear-gradient(to bottom,  #93FFA9 0%,#4fcc62 50%,#20c95b 51%,#7ae284 100%) /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93FFA9', endColorstr='#7ae284',GradientType=0 ) /* IE6-9 */


  .signature
    @include fancy-font

//Footer
footer
  text-align: center
  background-color: $light-blue
  padding-bottom: 35px
  a
    color: white
  .decorative-line
    display: block
    height: 27px
    background-color: $gold
  .info
    padding: 0 30px
    color: white
    @include content
    span
      @include blue-shadow
      font-size: 200px
      font-weight: bold
      display: block
      height: 160px
    p
      font-size: 20px