%h2 Benefits
%table#benefits
  %thead
    %tr
      %th More parking for:
      %th Less parking for:
  %tbody
    %tr
      %td You
      %td Promenade/Local workers
    %tr
      %td Family
      %td Local Churches (They have lots)
    %tr
      %td Friends
      %td Beach goers
    %tr
      %td Your maintenance workers
      %td High school students