%div.clearfix.right.contact-container
  .information
    %h2 Contact
    %p Drop us a line! Your email will not be shared or saved. :)
    %ul
      %li
        %h3 Questions?
      %li
        %h3 Comments?
      %li
        %h3 Want to help?
      %li
        %h3
          Add your
          %span.signature signature?