%h2 FAQs
%dl#faqs
  %dt
    %em How many signatures are needed for this to pass?
  %dd
    %strong
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
  %dt
    %em How many signatures are needed for this to pass?
  %dd
    %strong
      We need
      %span 67%
      of units to sign
  %dt
    %em How many signatures are needed for this to pass?
  %dd
    %strong
      We need
      %span 67%
      of units to sign
  %dt
    %em How many signatures are needed for this to pass?
  %dd
    %strong
      We need
      %span 67%
      of units to sign