%h2 FAQs
%dl#faqs
  %dt
    %strong How many signatures are needed for this to pass?
  %dd
    %em 67%
  %dt
    %strong How much will this cost?
  %dd
    %em
      Only $15 per year! If you have your own space or don't mind parking a block away there is no charge.
  %dt
    %strong What type of information do I need to provide?
  %dd
    %em
      There is a standard
      %a{:href => "http://www.smgov.net/uploadedFiles/Departments/Transportation/Transportation_Management/petition.pdf"} form
      which will be used for each apartment/home. For security keep in mind this is information the city should already have.*
  %dt
    %strong What if I don't park on the street?
  %dd
    %em
      There are a few great reasons why you should care in the benefits section above. Again keep in mind it will cost nothing for you to park if you have your own space.
  %dt
    %strong What about guests of mine?
  %dd
    %em
      The city allows each unit or home the ability to purchase two guest passes. You may also print up to 25 temporary single day passes for an event.
  %dt
    %strong Does the permit only work on our block?
  %dd
    %em
      No, that's the great thing. These permits would allow us to park within other permit zones up to a 2 block radius. This means 6th and 5th street would be available essentially doubling the amount of parking available. (Most of 5th and 6th St are restricted to us currently)
  %dt
    %strong Will everyone in my home or apartment have to sign?
  %dd
    %em
      No, just one person per home or apartment.
