%h2 Information
%p
  Hello and welcome! By now you've seen those parking permit signs on neighboring blocks. Perhaps you've seen open spaces on restricted streets while our own block is already full? Or maybe you've heard complaints from friends about not being to find a decent space? Isn't the city of Santa Monica going to do something about this? Well, the answer is yes and no. 
  %br
  %br  
  The city can only do so much, but they've put us in a great position. In this
  %a{:href => "/"} MAP
  you can see which blocks are available for permit parking. You'll notice our block (7th Street between Washington and Idaho) is colored blue. This means that the city has already pre-approved us and all that is needed to gain residential parking are signatures!