%h2 Information
%p
  The city of santa monica offers special permit parking to residents that quality. Our block (7th street between Washington and Idaho) has already been pre-approved for permit parking. he only requirement is a signed petition by the residents of this block.
  %br
  For more information please see this page or contact us.